/data1/clips/
/data1/MNIST/
/data1/UrbanSound8K/
dataset/
.idea/

__pycache__/

data1/wav_clips/

WaveUNet/datasets/train_data/clean/

WaveUNet/datasets/train_data/noisy/

data1/
WaveUNet/logs
WaveUNet/data
WaveUNet/checkpoints
WaveUNet/datasets
WaveUNet/hdf
WaveUNet/musdb18
logs/waveunet/
small_dataset/
hdf_files/
dataset.zip
/small_dataset_v2/
/WaveUNet/checkpoints/
/dataset_v2/
/WaveUNet/hdf_small/
